.cycles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.cyclesTitle {
  font-size: 1.8rem;

  color: var(--text-default);
}

.cycleDots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.cycleDot {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--primary);
}

.workTime {
  background-color: var(--warning);
}

.shortBreakTime {
  background-color: var(--primary);
}

.longBreakTime {
  background-color: var(--info);
}
